<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <p><h1 style="border-bottom: 1px solid #ccc;">
        <%= gravatar_for @user %>
        <%= @user.name %> <br/> <br/> 
      </h1> 
      </p>
	<%= render 'follow_form' if signed_in? %>

	<% unless @user.microposts.empty? %>
       
       <table class="microposts" summary="User microposts">
          <%=   nested_feed @microposts.arrange(:order => :created_at) %>
      </table>
      <% end %>

    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
	<strong>Microposts</strong> <%= @user.microposts.count %>
<br/>
<% if @user.admin? %>
    <%= image_tag("admin.png", :alt => "Admin user", :class => "round") %>
<% else %>
    <%= image_tag("normal.jpg", :size => "50x50", :alt => "Normal user", :class => "round")  %>
<% end %> <br />
<%= render 'shared/stats' %>
    </td>
  </tr>
</table>

