  <%= javascript_include_tag :ckeditor %>

<%= form_for @micropost do |f| %>
<% puts @micropost.content %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    
     <%= f.hidden_field :parent_id %>
    <%  puts @micropost.parent_id %>
   
     <%= f.cktext_area :content, :toolbar => 'Easy', :rows => '15', :cols => '50' %>

  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

