<div class="user_info">
  <a href="<%= user_path(current_user) %>">
    <%= gravatar_for current_user, :size => 50 %>
    <span class="user_name">
      <%= current_user.name %><br/>
	
    </span>
    <span class="microposts">
      <%= pluralize(current_user.microposts.count, "micropost") %>
    </span>
  </a>
<br/>
<% if current_user.admin? %>
    <%= image_tag("admin.png", :alt => "Admin", :class => "round") %>
<% else %>
    <%= image_tag("normal.jpg", :size => "50x50", :alt => "Normal user", :class => "round") %>
<% end %>

</div>

