<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form', :parent_id => nil %>
	

      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
	<%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
 <table class="microposts" summary="User microposts">
<%=   nested_feed @feed_items.arrange(:order => :created_at) %>
 </table>
<% else %>
  <h1 class="text-style">140</h1>

  <p>
   Say it in <span class="text-style">140</span> letters
   Try it here by Signing up in just <span class="text-style">1</span> second!
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>

